.container
{
  max-width: 800px;
  margin: auto;
  padding: 1rem;
}

form
{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

label
{
  flex-basis: 100%;
}

input[type="text"],
input[type="date"],
button,
select
{
  padding: 0.5rem;
  font-size: 1rem;
}

button[type="submit"]
{
  background-color: #008CBA;
  color: white;
  border: none;
}

.filters
{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

input[type="text"]
{
  flex-basis: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

table
{
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

th,
td
{
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

th
{
  background-color: #008CBA;
  color: white;
}

tr:nth-child(even)
{
  background-color: #f2f2f2;
}

/* .high-priority
{
  background-color: #f44336;
} */